.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    min-height: 100vh;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #eee;
}

.contact_title {
    font-size: 55px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.contact_title span {
    color: #ffb400;
}

.contant_form {
    position: relative;
    bottom: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.contant_form__contacts ul {
    margin-top: 20px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    font-family: 'open sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
}

.contant_form__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.contant_form__item icon {
    margin-left: 12px;
}

.social h6,
.contant_form__item h6 {
    text-transform: capitalize;
    display: block;
    margin: 12px 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.8;
}

.contant_form_item_icon {
    margin-right: 5px;
    color: #ffb400;
}

.contant_form__item span {
    font-size: 1rem;
    text-transform: lowercase;
    font-family: 'open sans';
    font-weight: 500;
}

.item_icon {
    width: 35px;
    height: 35px;
    display: block;
    line-height: 36px;
    border-radius: 50%;
    color: #ffb400;
    text-align: center;
    background: transparent;
    transition: 0.3s;
    border: 1px solid #ffb400;
    margin-bottom: 10px;
    margin-right: 10px;
}

.social {
    margin-top: 20px;
}

.social_item ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact_form__inputs {
    margin-left: 10px;
    width: 70%;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
}

.forms_input {
    margin-bottom: 30px;
    width: 47%;
}

.forms_input input {
    height: 46px;
    width: 100%;
    background: #333;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0;
}

.forms_textarea {
    width: 100%;
}

.forms_textarea textarea {
    width: 100%;
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    padding: 0;
}

@media screen and (max-width: 1012px) {
    .contant_form {
        margin-top: 0px;
        justify-content: start;
        bottom: 0px;
    }

    .contact_form__inputs {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 651px) {
    .contact_title {
        font-size: 36px;
        font-weight: 700;
    }
}

@media screen and (max-width: 620px) {
    .contant_form {
        margin-top: 20px;
        justify-content: start;
        bottom: 30px;
    }

}
