.header {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(149, 146, 140);
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.header h1 {
    position: absolute;
    left: 50px;
    margin: 16px 0 0 20px;
    color: #ffb400;
}

.container ul {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-left: 110px;
}

@media screen and (max-width: 712px) {
    
}
