.header {
    position: fixed;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    z-index: 100;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 523px) {

    .header {
        
        height: 130px;
    }
    .container ul {
        display: block;
    }

    .logo {
        margin: 10px 0 10px 0;
    }
}
