.portfolio {
    flex-direction: column;
    padding: 25px 0 25px 0;
    /* background-color: rgb(105, 197, 228); */
}

.portfolio_title {
    font-size: 55px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
}

.portfolio_title span {
    color: #ffb400;
}

.portfolio_container {
    width: 100%;
}

.portfolio_box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
}

.work {
    margin-top: 20px;
    width: 48%;
    text-align: justify;
}

.img {
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 270px;
    width: 270px;
}

/* .a_img {
    position: relative;
} */

.img:hover:before {
    position: absolute;
    content: '';
    cursor: pointer;
    margin: 0 auto;
    z-index: 1;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 270px;
    width: 270px;
    opacity: 0.3;
}

@media screen and (max-width: 712px) {
    .work {
        width: 100%;
    }
}

@media screen and (max-width: 651px) {
    .portfolio_title {
        font-size: 36px;
        font-weight: 700;
    }
}

@media screen and (max-width: 340px) {
    .img {
        width: 100%;
    }
}
