.portfolio {
    flex-direction: column;
    padding: 25px 0 25px 0;
    /* background-color: rgb(105, 197, 228); */
}

.portfolio_title {
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
}

.portfolio_title span {
    color: #ffb400;
}

.portfolio_container {
    width: 100%;
}

.portfolio_box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
}

.work {
    margin-top: 20px;
    width: 48%;
    text-align: justify;
}

.img {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 270px;
    width: 270px;
}

@media screen and (max-width: 712px) {
    .work {
        width: 100%;
    }
}
