.skills_container {
    width: 100%;
}

.skills_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills_title {
    max-width: 100%;
}

.skills {
    width: 48%;
}

.skills p {
    text-align: justify;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: #fff;
}

@media screen and (max-width: 712px) {
    .skills_box {
        justify-content: center;
    }

    .skills {
        width: 100%;
    }

    .skills_title {
        text-align: center;
    }

    .icon {
        margin: 0 auto;
    }

    .skills h3 {
        text-align: center;
    }
}
