.skills_container {
    width: 100%;
}

.skills_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills {
    width: 48%;
}

@media screen and (max-width: 712px) {
    .skills_box {
        justify-content: center;
    }

    .skills {
        width: 100%;
    }
}
