.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px 0 25px 0;
}

.footer h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    column-gap: 15px;
}
.footer ul li {
    height: 25px;
    width: 25px;
    background-color: antiquewhite;
}
